SUB2API_IMAGE="sub2api:latest"
SUB2API_CONTAINER_NAME="sub2api"
BIND_HOST="0.0.0.0"
SERVER_PORT="8080"
SERVER_MODE="release"
RUN_MODE="standard"
TZ="Asia/Shanghai"

DATABASE_HOST="10.0.0.10"
DATABASE_PORT="5432"
DATABASE_USER="sub2api"
DATABASE_PASSWORD="replace_with_postgres_password"
DATABASE_DBNAME="sub2api"
DATABASE_SSLMODE="disable"
DATABASE_MAX_OPEN_CONNS="50"
DATABASE_MAX_IDLE_CONNS="10"
DATABASE_CONN_MAX_LIFETIME_MINUTES="30"
DATABASE_CONN_MAX_IDLE_TIME_MINUTES="5"

REDIS_MODE="standalone"
REDIS_ADDRS=""
REDIS_HOST="10.0.0.11"
REDIS_PORT="6379"
REDIS_PASSWORD="replace_with_redis_password"
REDIS_DB="0"
REDIS_POOL_SIZE="1024"
REDIS_MIN_IDLE_CONNS="10"
REDIS_ENABLE_TLS="false"
REDIS_TLS_SERVER_NAME=""

ADMIN_EMAIL="admin@sub2api.local"
ADMIN_PASSWORD="68ac4b43d3938f1595ff0711c93a7ba4"
JWT_SECRET="replace_with_jwt_secret"
JWT_EXPIRE_HOUR="24"
TOTP_ENCRYPTION_KEY="replace_with_totp_key"

LOG_LEVEL="info"
LOG_FORMAT="json"
UPDATE_PROXY_URL=""
SECURITY_URL_ALLOWLIST_ENABLED="false"
SECURITY_URL_ALLOWLIST_ALLOW_INSECURE_HTTP="false"
SECURITY_URL_ALLOWLIST_ALLOW_PRIVATE_HOSTS="false"
SECURITY_URL_ALLOWLIST_UPSTREAM_HOSTS=""
