POSTGRES_IMAGE="postgres:18-alpine"
POSTGRES_CONTAINER_NAME="sub2api-postgres"
POSTGRES_USER="sub2api"
POSTGRES_PASSWORD="replace_with_generated_secret"
POSTGRES_DB="sub2api"
POSTGRES_BIND_HOST="0.0.0.0"
POSTGRES_PORT="5432"
POSTGRES_MAX_CONNECTIONS="512"
POSTGRES_SHARED_BUFFERS="256MB"
POSTGRES_EFFECTIVE_CACHE_SIZE="1GB"
POSTGRES_MAINTENANCE_WORK_MEM="128MB"
TZ="Asia/Shanghai"
